.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
// ----------------------------------------
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
// ----------------------------------------
.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-around {
  justify-content: space-around;
}

.jc-space-evenly {
  justify-content: space-evenly;
}
// ----------------------------------------
.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-space-between {
  align-items: space-between;
}

.ai-space-around {
  align-items: space-around;
}

.ai-space-evenly {
  align-items: space-evenly;
}
// ----------------------------------------
.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}
